*{
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 80px;
}
h2{
  text-align: center;
}

header {
  position: relative;
}

.sconto {
  position: fixed;
  min-width: 12vw;
  min-height: 12vh;
  max-width: 25vw;
  max-height: 25vh;
  z-index: 999;
  top: 50%;
  left:5%;
  
}

/* .fixed {
  min-height: 10vh;
  min-width: 10vw;
  background-color: green;
  position:absolute;
  z-index: 999;
} */

/* CONTENITORI DI IMMAGINI */

.container.uno{
  height: 100vh;
  background-image: url("../img/butrinto.jpg");
  background-size: cover;
  position:relative;
  border: 5px solid red;
}

.container.due{
  height: 100vh;
  background-image: url("../img/frasassi.jpg");
  background-size: cover;
  position:relative;
  border: 5px solid orange;
}

.container.tre{
  height: 100vh;
  background-image: url("../img/venezia.jpg");
  background-size: cover;
  position:relative;
  border: 5px solid green;
}

/* STILE DEL TITOLO */

.titolo {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;

}
/* OPACIZZATORE */

.layover {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 900;
}
